**/.dockerignore
**/.env
**/.env.docker-compose
**/.vscode
**/node_modules
**/.project
**/.git
**/.gitignore
**/.project
**/.settings
**/.dockerignore
**/docker-compose
**/Dockerfile*
**/npm-debug.log
**/obj
media
docs
deploy
README.md
LICENCE
sonar-project.properties
.gitlab-ci.yml
latest.dump.gpg
db.dump
Webdav.Dockerfile
