{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accès refusé | e-controle </title>
    <style>
      .text-center {
          text-align: center;
      }
  </style>
</head>
<body>
    <div class="text-center">
      <img src="{% static 'img/logo-cc.png' %}" class="img" alt="logo Cour des comptes" style="max-width: 500px;" />
      <br>
      <h2>E-Contrôle n'est plus accessible hors du réseau des Juridictions Financières.</h2>
      <p>Merci de vous connecter sur le réseau Juridictions Financières. </p>
    </div>

</body>
</html>
